*{
	margin: 0;
	padding: 0;
}


body{

	margin: 0;
	background-color:#b9bac2; 

}
 .head-file {
 	width: 100%;
 	height: 660px;
 	position: relative;
 	background-image: url(image/cg.jpg);
 	background-size: cover;
   
}
.text-img{
	position: absolute;
	width: 90%;
	transform:translate(-50%,-50%);
	top: 30%;
	left: 50%;

}
.text-img h1{
	color:black ;
	font-size: 65px;
	font-family: titillium web,sans-serif;
	text-transform: capitalize;
	text-shadow: 2px 2px 2px;
	padding-top:50px;

}
.text-img h3 {
	margin-left: 75px;
	font-family: arial;
	text-shadow: 1px 1px 1px;
}
.text-img h4 {
	margin-left: 75px;
	font-family: arial;
	text-shadow: 1px 1px 1px;
}

.text-img h1 img{
	height: 55px;
	width: 60px;

}

.alart{

	color: red;
	text-shadow:2px 0px 2px ;
	


}
.alart p {
	font-size: 50px;
    color: :white;
	

}

.nav{
	width: 100%;
	background:#000000;
	height: 80px;
}
 .nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
}
 .nav ul li {
float: left;
margin-top: 20px;

}
.nav ul li a {
	width: 150px;
	color: white;
	display: block;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	font-family: Centuary Gothic;
	font-weight: bold;
}
 .nav ul li a:hover{
	background: red;

}
 .nav ul li ul {
	background:#000000;
}
.nav ul li ul li {
	float: none;
}
.nav ul li ul{
	display: none;

}
.nav ul li:hover ul {
	display: block;

}
.card{
	background-color:#666666 ;
	width: 350px;
	height: 550px;
	text-align: center;
	border-radius: 10px;
	float: left;
	margin: 80px;
	border: 2px solid gray;
	box-shadow: 10px 10px 0px gray;

}
.card-background{
	background: #222ec1;
	height: 150px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	

}
.card-image{
	border-radius: 50px;
	width: 120px;
	height: auto;
	position: relative;
	top: 100px;
	border: 6px;solid gray;



}
.card-info{
	margin-top: 70px;
	padding: 10px;
}
.card-info hr{
	border-color: black;
	border-width: 3px;
}
.fab {
	color: grey;
	font-size: 24px;
	padding: 15px;
}
.middle{
  width: 90%;
  margin: auto;
  position: relative;
}

.left{
	width: 40%;
	float: left;

	
}
.right{
	width: 60%;
	float: left;

	
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.facilitie{
    width: 100%;
    text-align: center;
}

.facilitie h1{
    margin: 0 auto;
    width:300px; 
    font-size: 30px;
    text-align: center;
    color: red;
    border-bottom: 2px solid red; 
}

.section1{
   
    width: 20%;
    height: auto;
    margin: 30px; 
    float: left;
}



.footer-content{
	background-color: #1b0105;
	color:  #fff;
	width: 100%;
	padding: 20px;
    text-align: center;
    margin-top: 50px;
	float: left;

}
.footer-content a{
	text-decoration: none;


	color: #fff;
	float: left;
}
.socials {
	float: left;
}
.socials a:hover{
	background: rgb(5,100,3);

}

.footer-bottom{
	text-align:center;
	margin-top: 150px;
}
.login-from {
	width:300px;
	box-shadow:  white;
	padding: 20px;
	margin: 8% auto;
	text-align: center;


}
.login-from h2{
	color:black;
	margin-bottom: 0px;

}
.input-box{
	border-radius: 20px;
	padding: 10px;
	margin: 1opx 0;
	width: 100%;
	border :1px solid #999 ;
	outline: none;
}
button{
	color: #fff;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin :10px 0;
	bolder :none;
	outline: none;
	cursor: pointer;
}
.Sign-btn{
	background-color: #222ec1;

}
a{
	text-decoration: none;
}
.or {
  background-color: white;
  width: 30px;
  margin: -19px auto;
}
.img {
	width: 70px;
	margin-top: -50px;
}
.bg{
	background:url(image/45.jpg);
	height: 100%;
	width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


}
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 500px;
  float: left;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}
